@import './variable';
@import './mixin';
* {
    @include bodyDefault;
}

body {
    @include bodyDefault;
    background: linear-gradient(317.45deg, rgba(255, 160, 13, 0.52) -78.63%, #FFFFFF 106.21%);
    min-height: 100vh;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.splitter-blank {
    height: 5vh;
}

.tablet-body {
    display: none;
}

@import './header';
header {
    margin-bottom: 3vh;
}


/* mobile menu start*/

#homeMenu {
    @include gridCenter;
    row-gap: 5vh;
    margin-bottom: 5vh;
    h1 {
        @include articleFont;
        text-transform: uppercase;
        font-size: 1.5rem;
        justify-self: left;
        padding: 1vw 6vw 1vw 3vw;
        color: $cardBgColor;
        line-height: 10vw;
        text-shadow: 1px 1px 1px rgb(56, 56, 56);
        background-color: $primaryColor;
        border-radius: 0 1.5rem 1.5rem 0;
    }
    #pizza {
        position: sticky;
        top: 22vw;
    }
    #slides {
        position: sticky;
        top: 32vw;
    }
    #desserts {
        position: sticky;
        top: 42vw;
    }
    .menu-section {
        @include gridCenter;
        width: 80%;
        row-gap: 5vh;
        .foodCard {
            @include gridCenter;
            row-gap: 5vh;
            grid-template-columns: 1fr 1.2fr;
            background-color: $cardBgColor;
            height: 30vw;
            width: 100%;
            border-radius: 18px;
            @include pageShadow(2px);
            &:hover {
                cursor: pointer;
            }
            &:active {
                @include pageShadow(0px);
            }
            img {
                width: 28vw;
                height: 23vw;
                border-radius: 18px;
                object-fit: cover;
            }
            div {
                @include gridCenter;
                width: 40vw;
                height: 23vw;
                h2 {
                    @include articleFont;
                    font-size: 3.5vw;
                    text-transform: uppercase;
                    line-height: 12px;
                    justify-self: left;
                    margin: 0;
                }
                h3 {
                    @include articleFont;
                    font-size: 3.5vw;
                    text-transform: uppercase;
                    line-height: 15px;
                    justify-self: right;
                    margin: 0;
                    color: $priceColor;
                }
                p {
                    @include articleFont;
                    font-size: 3vw;
                }
            }
        }
    }
}

@media only screen and (min-width: 450px) {
    .tablet-body {
        display: block;
    }
    .right {
        @include gridCenter;
        position: relative;
        width: 70%;
        left: 30%;
    }
    #homeMenu {
        width: 100%;
        margin-bottom: 0;
        h1 {
            color: $cardBgColor;
            @include textShadow(2px);
            font-size: 2rem;
            line-height: 2vw;
        }
        #pizza {
            position: sticky;
            top: 0vw;
        }
        #slides {
            position: sticky;
            top: 2vw;
        }
        #desserts {
            position: sticky;
            top: 4vw;
        }
        .menu-section {
            @include gridCenter;
            width: 95%;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            .foodCard {
                width: 80%;
                height: 16vw;
                display: grid;
                align-items: start;
                grid-template-columns: 1fr;
                grid-template-rows: 5fr 2fr;
                row-gap: 0;
                border-radius: 30px 0;
                img {
                    width: 100%;
                    height: 10vw;
                    border-radius: 30px 0 0 0;
                }
                div {
                    position: relative;
                    width: 100%;
                    height: 4vw;
                    grid-template-rows: 1fr 1fr;
                    h2,
                    h3 {
                        z-index: 10;
                        padding: 0 1vw;
                        font-size: $desktopMenuFontSize;
                    }
                }
                &:hover .description {
                    top: 2vw;
                    opacity: 1;
                    transition: all 0.3s ease-out;
                }
                .description {
                    z-index: 5;
                    box-sizing: border-box;
                    height: 10vw;
                    padding: 4vw 1vw;
                    position: absolute;
                    font-size: $desktopMenuFontSize;
                    background-color: $cardBgColor;
                    width: 100%;
                    top: -2vw;
                    border-radius: 0 0 30px 0;
                    opacity: 0;
                    @include pageShadow(2px);
                }
            }
        }
    }
}


/* mobile menu end*/

@import './footer';