@import './variable';
@import './mixin';
* {
    @include bodyDefault;
}

body {
    @include bodyDefault;
    background: linear-gradient(317.45deg, rgba(255, 160, 13, 0.57) -78.63%, #FFFFFF 106.21%);
    min-height: 100vh;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.splitter-blank {
    height: 5vh;
}

.tablet-body {
    display: none;
}


/*mobile header start*/

@import './header';
#special {
    background-color: $primaryColor;
    color: $cardBgColor;
    .specialIcon {
        background-position-x: 100%;
    }
    &:hover {
        background-color: $cardBgColor;
        color: $primaryColor;
    }
    &:hover div {
        background-position-x: 0%;
    }
}


/*mobile header end*/


/*mobile promotion start*/

.promotion {
    width: 100%;
    height: 60vh;
    @include gridCenter;
    overflow: hidden;
    .salesPhoto {
        width: 80%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
        p {
            font-size: 1.8rem;
            color: white;
            text-shadow: 2px 5px 5px black;
            font-family: 'Lemonada', cursive;
            align-self: center;
            transform: translate(4vw, -15vh) rotatez(-15deg);
        }
        a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            font-size: 1.2rem;
            color: $cardBgColor;
            background-color: $primaryColor;
            padding: 5px 15px;
            border-radius: 15px;
            @include pageShadow(1px);
            left: 50%;
            transform: translate(-50%, -6vh)
        }
    }
}


/*mobile promotion end*/


/* mobile sales start*/

#homeMenu {
    @include gridCenter;
    row-gap: 5vh;
    margin-bottom: 10vh;
    h1 {
        z-index: 19;
        @include articleFont;
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 10vw;
        text-shadow: 1px 1px 1px rgb(56, 56, 56);
        color: $desktopFontColor;
        font-weight: bolder;
    }
    .menu-section {
        @include gridCenter;
        width: 80%;
        row-gap: 5vh;
        .foodCard {
            height: 32vw;
            width: 100%;
            @include gridCenter;
            grid-template-columns: 1fr 1.2fr;
            row-gap: 5vh;
            background-color: $cardBgColor;
            border-radius: 18px;
            @include pageShadow(2px);
            &:hover {
                cursor: pointer;
            }
            &:active {
                @include pageShadow(0px);
            }
            img {
                width: 28vw;
                height: 23vw;
                border-radius: 18px;
                object-fit: cover;
            }
            div {
                width: 40vw;
                height: 23vw;
                @include gridCenter;
                overflow: hidden;
                h2 {
                    height: 0.9rem;
                    justify-self: left;
                    margin: 0;
                    @include articleFont;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    line-height: 0.8rem;
                }
                h3 {
                    justify-self: right;
                    margin: 0 1.3rem;
                    overflow: hidden;
                    @include articleFont;
                    font-size: 0.6rem;
                    text-transform: uppercase;
                    line-height: 0.7rem;
                    color: $priceColor;
                }
                p {
                    @include articleFont;
                    margin-top: 1px;
                    font-size: 0.6rem;
                }
            }
        }
    }
}


/* mobile sales start*/


/*tablet layout start*/

@media only screen and (min-width: 600px) {
    .right {
        @include gridCenter;
        position: relative;
        width: 80%;
        left: 20%;
    }
    .promotion {
        width: 100%;
        height: 40vw;
        .salesPhoto {
            width: 100%;
            height: 100%;
            position: relative;
            img {
                position: absolute;
                left: 50%;
                top: 10%;
                width: auto;
                height: 80%;
            }
            p,
            a {
                transform: none;
                left: 0;
            }
            p {
                position: absolute;
                color: black;
                text-shadow: 2px 2px 5px $primaryColor;
                font-size: 2.5rem;
                transform: rotateZ(-10deg);
                left: 10%;
                top: 30%;
            }
            a {
                position: absolute;
                left: 18%;
                top: 60%;
                font-size: 1.5rem;
            }
        }
    }
    #homeMenu {
        width: 100%;
        .categorys {
            z-index: 20;
            width: 90%;
            position: sticky;
            top: 0;
            padding-top: 1vw;
            background-color: #fffdf8;
            height: 10vw;
            justify-content: space-evenly;
            border-bottom: 1px solid black;
            .category {
                font-weight: bold;
                line-height: 3vw;
            }
        }
        h1 {
            z-index: 15;
            @include textShadow(2px);
            font-size: 1.5rem;
            line-height: 2vw;
        }
        #pizza {
            position: sticky;
            top: 11vw;
        }
        #slides {
            position: sticky;
            top: 15vw;
        }
        #desserts {
            position: sticky;
            top: 19vw;
        }
        .menu-section {
            width: 90%;
            @include gridCenter;
            grid-template-columns: 1fr 1fr 1fr;
            .foodCard {
                width: 10rem;
                height: 12rem;
                align-items: start;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 1fr;
                row-gap: 0;
                border-radius: 30px 0;
                @include pageShadow(2px);
                img {
                    width: 100%;
                    height: 8rem;
                    overflow: hidden;
                    border-radius: 30px 0 0 0;
                }
                div {
                    z-index: 5;
                    box-sizing: border-box;
                    width: 100%;
                    height: 4rem;
                    overflow: hidden;
                    position: relative;
                    @include gridCenter;
                    padding: 0.5rem;
                    background-color: $cardBgColor;
                    border-radius: 0 0 30px 0;
                    @include pageShadow(2px);
                    h2 {
                        height: 1.2rem;
                        font-size: 0.8rem
                    }
                    h3 {
                        height: 3rem;
                        font-size: 0.7rem;
                        line-height: 0.6rem;
                    }
                    .description {
                        box-sizing: border-box;
                        width: 100%;
                        height: 4rem;
                        font-size: 0.8rem;
                        border-radius: 0 0 30px 0;
                    }
                }
                &:hover div {
                    height: 8rem;
                    transition: all 0.3s ease-out;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }
    #homeMenu {
        .menu-section {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            column-gap: 5vw;
            .foodCard {
                width: 200px;
                div {
                    h2 {
                        font-size: 0.7rem;
                    }
                    .description,
                    h3 {
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
}


/*tablet layout end*/


/*desktop layout start*/

@media only screen and (min-width: 1367px) {
    html {
        font-size: 24px;
    }
}


/*desktop layout end*/

@import './footer';