@import './variable';
@import './mixin';
* {
    @include bodyDefault;
}

body {
    @include bodyDefault;
    background: linear-gradient(317.45deg, rgba(255, 160, 13, 0.22) -78.63%, #FFFFFF 106.21%);
    min-height: 100vh;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.splitter-blank {
    height: 5vh;
}

.tablet-body {
    display: none;
}

@import './header';
header {
    margin-bottom: 3vh;
}

.salesPart {
    width: 100%;
    height: 60vh;
    @include gridCenter;
    overflow: hidden;
    .salesPhoto {
        width: 80%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
        p {
            font-size: 1.8rem;
            color: white;
            text-shadow: 2px 5px 5px black;
            font-family: 'Pacifico', cursive;
            align-self: center;
            transform: translate(4vw, -15vh) rotatez(-15deg);
        }
        a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            font-size: 1.2rem;
            color: $cardBgColor;
            background-color: $primaryColor;
            padding: 5px 15px;
            border-radius: 15px;
            @include pageShadow(1px);
            left: 50%;
            transform: translate(-50%, -6vh)
        }
    }
}


/* mobile menu start*/

#homeMenu {
    @include gridCenter;
    row-gap: 5vh;
    margin-bottom: 5vh;
    h1 {
        z-index: 19;
        @include articleFont;
        @include pageShadow(1px);
        text-transform: uppercase;
        font-size: 1.5rem;
        justify-self: left;
        padding: 1vw 6vw 1vw 3vw;
        line-height: 10vw;
        text-shadow: 1px 1px 1px rgb(56, 56, 56);
        background-color: $primaryColor;
        border-radius: 0 1.5rem 1.5rem 0;
        a {
            color: $cardBgColor;
        }
    }
    #pizza {
        position: sticky;
        top: 24vw;
    }
    #slides {
        position: sticky;
        top: 36.3vw;
    }
    #desserts {
        position: sticky;
        top: 42vw;
    }
    .menu-section {
        @include gridCenter;
        width: 80%;
        row-gap: 5vh;
        .foodCard {
            @include gridCenter;
            row-gap: 5vh;
            grid-template-columns: 1fr 1.2fr;
            background-color: $cardBgColor;
            height: 30vw;
            width: 100%;
            border-radius: 18px;
            @include pageShadow(2px);
            &:hover {
                cursor: pointer;
            }
            &:active {
                @include pageShadow(0px);
            }
            img {
                width: 28vw;
                height: 23vw;
                border-radius: 18px;
                object-fit: cover;
            }
            div {
                @include gridCenter;
                width: 40vw;
                height: 23vw;
                h2 {
                    @include articleFont;
                    font-size: 3.5vw;
                    text-transform: uppercase;
                    line-height: 12px;
                    justify-self: left;
                    margin: 0;
                }
                h3 {
                    @include articleFont;
                    font-size: 3.5vw;
                    text-transform: uppercase;
                    line-height: 15px;
                    justify-self: right;
                    margin: 0;
                    color: $priceColor;
                }
                p {
                    @include articleFont;
                    font-size: 3vw;
                }
            }
        }
    }
}

@media only screen and (min-width: 450px) {
    .tablet-body {
        display: block;
    }
    .right {
        @include gridCenter;
        position: relative;
        width: 80%;
        left: 20%;
    }
    .salesPart {
        width: 100%;
        height: 40vw;
        .salesPhoto {
            width: 100%;
            height: 100%;
            position: relative;
            img {
                position: absolute;
                left: 50%;
                top: 10%;
                width: auto;
                height: 80%;
            }
            p,
            a {
                transform: none;
                left: 0;
            }
            p {
                position: absolute;
                color: black;
                text-shadow: 2px 2px 5px $primaryColor;
                font-size: 2.5rem;
                transform: rotateZ(-10deg);
                left: 10%;
                top: 30%
            }
            a {
                position: absolute;
                left: 18%;
                top: 60%;
                font-size: 1.5rem;
            }
        }
    }
    #homeMenu {
        width: 100%;
        .categorys {
            width: 90%;
            z-index: 12;
            position: sticky;
            top: 0;
            padding-top: 1vw;
            background-color: #fffdf8;
            height: 10vw;
            justify-content: space-evenly;
            border-bottom: 1px solid black;
            .category {
                font-weight: bold;
                line-height: 3vw;
            }
        }
        h1 {
            color: $cardBgColor;
            @include textShadow(2px);
            font-size: 1.5rem;
            line-height: 2vw;
        }
        #pizza {
            position: sticky;
            top: 11vw;
        }
        #slides {
            position: sticky;
            top: 15vw;
        }
        #desserts {
            position: sticky;
            top: 19vw;
        }
        .menu-section {
            @include gridCenter;
            width: 95%;
            grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
            justify-content: space-evenly;
            margin-bottom: 6vh;
            .foodCard {
                width: 80%;
                height: 16vw;
                display: grid;
                align-items: start;
                grid-template-columns: 1fr;
                grid-template-rows: 7fr 4fr;
                row-gap: 0;
                border-radius: 30px 0;
                img {
                    box-sizing: border-box;
                    border: 2px solid white;
                    width: 100%;
                    height: 10vw;
                    border-radius: 30px 0 0 0;
                }
                div {
                    position: relative;
                    width: 100%;
                    height: 4vw;
                    grid-template-rows: 1fr 1fr;
                    h2,
                    h3 {
                        z-index: 10;
                        padding: 0 2vw 0 1vw;
                        font-size: $desktopMenuFontSize;
                    }
                }
                &:hover .description {
                    top: 2vw;
                    opacity: 1;
                    transition: all 0.3s ease-out;
                }
                .description {
                    z-index: 5;
                    box-sizing: border-box;
                    height: 10vw;
                    padding: 4vw 1vw;
                    position: absolute;
                    font-size: $desktopMenuFontSize;
                    background-color: $cardBgColor;
                    width: 100%;
                    top: -2vw;
                    border-radius: 0 0 30px 0;
                    opacity: 0;
                    @include pageShadow(2px);
                }
            }
        }
    }
}

@media only screen and (min-width: 1367px) {
    .right {
        width: 80%;
        left: 20%;
    }
    .salesPart {
        width: 100%;
        height: 40vw;
        .salesPhoto {
            width: 100%;
            position: relative;
            p,
            a {
                transform: none;
                left: 0;
            }
            p {
                position: absolute;
                color: black;
                text-shadow: 2px 2px 5px $primaryColor;
                font-size: 3rem;
                transform: rotateZ(-10deg);
                left: 10%;
                top: 30%
            }
            a {
                position: absolute;
                left: 18%;
                top: 60%;
                font-size: 2rem;
            }
        }
    }
    #homeMenu {
        h1 {
            line-height: 1vw;
        }
        #pizza {
            position: sticky;
            top: 0vw;
        }
        #slides {
            position: sticky;
            top: 3vw;
        }
        #desserts {
            position: sticky;
            top: 8vw;
        }
        .menu-section {
            grid-template-columns: repeat(auto-fit, 360px);
            column-gap: 2vw;
            .foodCard {
                height: 12.5vw;
                img {
                    height: 8vw;
                }
                #pizza {
                    position: sticky;
                    top: 0vw;
                }
                #slides {
                    position: sticky;
                    top: 4vw;
                }
                #desserts {
                    position: sticky;
                    top: 8vw;
                }
                width: 300px;
                grid-template-rows: 5fr 4fr;
                div {
                    h2,
                    h3 {
                        font-size: 1.1vw;
                        line-height: 1.2vw;
                    }
                    .description {
                        font-size: 1vw;
                    }
                }
                &:hover .description {
                    top: 1vw;
                }
            }
        }
    }
}


/* mobile menu end*/

@import './footer';