@import './mixin';
@import './variable';
* {
    @include bodyDefault;
}

body {
    @include bodyDefault;
    background: linear-gradient(317.45deg, rgba(255, 160, 13, 0.52) -78.63%, #FFFFFF 106.21%);
    min-height: 100vh;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.splitter-blank {
    height: 5vh;
}


/*mobile-header-start*/

header {
    z-index: 20;
    @include gridCenter;
    position: sticky;
    top: 0;
    padding: 3vw 0;
    background-color: $cardBgColor;
    border-radius: 0 0 20px 20px;
    >img {
        height: 16vw;
        position: absolute;
        left: 5vw;
        top: 5vw;
    }
    >label {
        position: absolute;
        top: 0;
        left: 35vw;
        display: inline-block;
        height: 16vw;
        width: 1em;
        font-size: 20px;
        box-sizing: border-box;
        text-indent: -9999px;
        vertical-align: middle;
        position: relative;
        &::before {
            content: '';
            box-sizing: inherit;
            position: absolute;
            left: 0%;
            top: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            box-shadow: 0 -.35em, 0 .35em;
            border-top: 2px solid;
            width: 100%;
            color: $primaryColor;
        }
    }
    #tel {
        position: absolute;
        font-size: 1rem;
        top: 2vw;
        text-decoration: none;
        @include headerFont;
        color: $primaryColor;
        padding: 0 10px;
        &:active {
            font-size: 0.9rem;
            transition: all 0.2s ease-in;
        }
    }
    #nav-dropdown-check:checked~.nav-menu {
        display: grid;
    }
    .nav-menu {
        margin-top: 3vw;
        @include gridCenter;
        text-align: center;
        width: 100%;
        display: none;
        a {
            @include headerFont;
            color: $primaryColor;
            text-transform: uppercase;
            width: 100%;
            line-height: 10vw;
            &:hover {
                background-color: $primaryColor;
                color: $cardBgColor;
            }
        }
        .nav-menu-dropdown {
            @include gridCenter;
            width: 100%;
            position: relative;
            label {
                position: absolute;
                display: inline-block;
                top: -5vw;
                left: 30vw;
                width: 1em;
                font-size: 20px;
                box-sizing: border-box;
                text-indent: -9999px;
                vertical-align: middle;
                position: relative;
                &::before {
                    content: '';
                    box-sizing: inherit;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    height: .65em;
                    width: .65em;
                    border-style: solid;
                    border-width: 2px 0 0 2px;
                    -ms-transform: translate(-50%, -75%) rotate(225deg);
                    transform: translate(-50%, -75%) rotate(225deg);
                    color: $primaryColor;
                }
            }
            >a:hover~#nav-menu-dropdown-icon {
                &::before {
                    color: $cardBgColor;
                }
            }
            .nav-menu-dropdown-container {
                @include gridCenter;
                width: 100%;
                display: none;
                background-color: rgba($color: gray, $alpha: 0.1);
            }
            #nav-menu-dropdown-check:checked~.nav-menu-dropdown-container {
                display: grid;
            }
        }
    }
}


/*mobile-header-end*/


/*mobile-homepagePhoto-start*/

@keyframes mobilephoto {
    25% {
        left: -70vw;
    }
    50% {
        left: -140vw;
    }
    75% {
        left: -210vw;
    }
    100% {
        left: 0vw;
    }
}

.homepagePhoto {
    @include gridCenter;
    width: 100%;
    .mobilePhotoFrame {
        margin-top: 5vw;
        width: 70vw;
        height: 84vw;
        overflow: hidden;
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid white;
        .mobilePhoto {
            position: relative;
            height: 84vw;
            left: 0;
            animation: mobilephoto 8s cubic-bezier(1, 0, 0.1, 0) infinite;
        }
    }
}


/*mobile-homeMenu-start*/

#homeMenu {
    @include gridCenter;
    row-gap: 5vh;
    h1 {
        @include articleFont;
        text-transform: uppercase;
        font-size: 1.5rem;
        justify-self: left;
        margin-left: 15vw;
        margin-bottom: -5vh;
    }
    .menu-section {
        @include gridCenter;
        width: 80%;
        row-gap: 5vh;
        .foodCard {
            @include gridCenter;
            row-gap: 5vh;
            grid-template-columns: 1fr 1.2fr;
            background-color: $cardBgColor;
            height: 30vw;
            width: 100%;
            border-radius: 18px;
            @include pageShadow(2px);
            &:hover {
                cursor: pointer;
            }
            &:active {
                @include pageShadow(0px);
            }
            img {
                width: 28vw;
                height: 23vw;
                border-radius: 18px;
                object-fit: cover;
                float: left;
            }
            div {
                @include gridCenter;
                width: 40vw;
                height: 23vw;
                h2 {
                    @include articleFont;
                    font-size: 3.5vw;
                    text-transform: uppercase;
                    line-height: 12px;
                    justify-self: left;
                    margin: 0;
                }
                h3 {
                    @include articleFont;
                    font-size: 3.5vw;
                    text-transform: uppercase;
                    line-height: 15px;
                    justify-self: right;
                    margin: 0;
                    color: $priceColor;
                }
                p {
                    @include articleFont;
                    font-size: 3vw;
                }
            }
        }
    }
}


/*mobile-homeMenu-start*/