@-webkit-keyframes mobilephoto {
  25% {
    left: -70vw;
  }
  50% {
    left: -140vw;
  }
  75% {
    left: -210vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes mobilephoto {
  25% {
    left: -70vw;
  }
  50% {
    left: -140vw;
  }
  75% {
    left: -210vw;
  }
  100% {
    left: 0vw;
  }
}

@-webkit-keyframes slide {
  3% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  28% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide {
  3% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  28% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(317.45deg, rgba(255, 160, 13, 0.9) -78.63%, #FFFFFF 106.21%);
  min-height: 100vh;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.splitter-blank {
  height: 5vh;
}

.tablet-body {
  display: none;
}

.tablet-header {
  display: none;
}

header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 9vh;
  width: 100%;
  z-index: 20;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
}

header > a img {
  position: absolute;
  z-index: 21;
  height: 6vh;
  top: 3vw;
  left: 5vw;
}

header > a img:hover {
  cursor: pointer;
}

header #tel {
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  color: #FFA00D;
  position: absolute;
  z-index: 22;
  top: 4vw;
  font-size: 1rem;
  height: 4vh;
  right: 5vw;
}

header #tel:active {
  font-size: 0.9rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .nav-menu {
  z-index: 20;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  border-radius: 20px 20px 0 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
}

header .nav-menu a {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  padding: 1vh 0;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  color: #FFA00D;
  font-size: 0.8rem;
  text-transform: uppercase;
}

header .nav-menu a div {
  width: 40%;
  height: 4vh;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position-x: 0;
}

header .nav-menu a:hover {
  background-color: #FFA00D;
  color: #ffffff;
}

header .nav-menu a:hover div {
  background-position-x: 100%;
}

header .nav-menu .homeIcon {
  background-image: url(../images/Iconhome.png);
}

header .nav-menu .menuIcon {
  background-image: url(../images/Iconmenu.png);
}

header .nav-menu .specialIcon {
  background-image: url(../images/Iconsale.png);
}

header .nav-menu .aboutIcon {
  background-image: url(../images/Iconpizza.png);
}

header .nav-menu .location {
  background-image: url(../images/Iconlocation.png);
}

header .nav-menu-dropdown {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
}

header .nav-menu-dropdown .nav-menu-dropdown-container {
  display: none;
}

@media only screen and (min-width: 600px) {
  .mobile-header {
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    padding: 0;
    -ms-grid-rows: 2fr 2fr 5fr;
        grid-template-rows: 2fr 2fr 5fr;
    background-color: #FFA00D;
    border-radius: 0;
  }
  header > a img {
    position: relative;
    top: 0;
    left: 30%;
    width: 40%;
    height: auto;
  }
  header #tel {
    height: auto;
    padding: 0.5vw 1vw;
    position: static;
    font-size: 1rem;
    background-color: #ffffff;
    border-radius: 2vw;
  }
  header .nav-menu {
    position: static;
    bottom: auto;
    height: auto;
    border-radius: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    background: none;
  }
  header .nav-menu a {
    padding: 1rem;
    background-color: #FFA00D;
    color: #ffffff;
    font-size: 1rem;
  }
  header .nav-menu a:hover {
    background-color: #ffffff;
    color: #FFA00D;
  }
  header .nav-menu-dropdown label {
    position: absolute;
    display: inline-block;
    top: -1.8rem;
    left: 4rem;
    width: 1em;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-indent: -9999px;
    vertical-align: middle;
    position: relative;
  }
  header .nav-menu-dropdown label::before {
    content: '';
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: .65em;
    width: .65em;
    border-style: solid;
    border-width: 2px 0 0 2px;
    -webkit-transform: translate(-50%, -75%) rotate(225deg);
            transform: translate(-50%, -75%) rotate(225deg);
    color: #ffffff;
  }
  header .nav-menu-dropdown-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100%;
  }
  header .nav-menu-dropdown-container a {
    background-color: rgba(255, 172, 46, 0.9);
  }
  header .nav-menu-dropdown a:hover ~ #nav-menu-dropdown-icon::before {
    color: #FFA00D;
  }
  header .nav-menu-dropdown #nav-menu-dropdown-check:checked ~ .nav-menu-dropdown-container {
    display: -ms-grid;
    display: grid;
  }
}

@media only screen and (min-width: 1367px) {
  header #tel {
    font-size: 1.2rem;
    padding: 0.5vw 1vw;
  }
  header #tel:hover {
    font-size: 1.3vw;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

#home {
  background-color: #FFA00D;
  color: #ffffff;
}

#home .homeIcon {
  background-position-x: 100%;
}

#home:hover {
  background-color: #ffffff;
  color: #FFA00D;
}

#home:hover div {
  background-position-x: 0%;
}

/*mobile-homepagePhoto-start*/
.homepagePhoto {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
}

.homepagePhoto .mobilePhotoFrame {
  margin-top: 5vw;
  width: 70vw;
  height: 84vw;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  border: 1px solid white;
}

.homepagePhoto .mobilePhotoFrame img {
  position: relative;
  height: 84vw;
  left: 0;
  -webkit-animation: mobilephoto 8s cubic-bezier(1, 0, 0.1, 0) infinite;
          animation: mobilephoto 8s cubic-bezier(1, 0, 0.1, 0) infinite;
}

/*mobile-homeMenu-start*/
#homeMenu {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  row-gap: 5vh;
}

#homeMenu h1 {
  font-family: 'Rokkitt', serif;
  -ms-grid-column-align: left;
      justify-self: left;
  margin-left: 15vw;
  margin-bottom: -5vh;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#homeMenu .menu-section {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  row-gap: 5vh;
}

#homeMenu .menu-section .foodCard {
  height: 30vw;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1.2fr;
      grid-template-columns: 1fr 1.2fr;
  row-gap: 5vh;
  background-color: #ffffff;
  border-radius: 18px;
  -webkit-box-shadow: 0 1px 2px 0 #383838;
          box-shadow: 0 1px 2px 0 #383838;
}

#homeMenu .menu-section .foodCard:hover {
  cursor: pointer;
}

#homeMenu .menu-section .foodCard:active {
  -webkit-box-shadow: 0 1px 0px 0 #383838;
          box-shadow: 0 1px 0px 0 #383838;
}

#homeMenu .menu-section .foodCard img {
  width: 28vw;
  height: 23vw;
  border-radius: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}

#homeMenu .menu-section .foodCard div {
  width: 40vw;
  height: 23vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#homeMenu .menu-section .foodCard div h2 {
  -ms-grid-column-align: left;
      justify-self: left;
  margin: 0;
  font-family: 'Rokkitt', serif;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 12px;
}

#homeMenu .menu-section .foodCard div h3 {
  -ms-grid-column-align: right;
      justify-self: right;
  margin: 0 1.3rem;
  overflow: hidden;
  font-family: 'Rokkitt', serif;
  font-size: 0.6rem;
  text-transform: uppercase;
  line-height: 0.6rem;
  color: red;
}

#homeMenu .menu-section .foodCard div p {
  font-family: 'Rokkitt', serif;
  margin-top: 2px;
  font-size: 0.7rem;
}

/*mobile-homeMenu-end*/
/*mobile-contact-start*/
#contact {
  z-index: 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-top: 5vh;
  row-gap: 5vh;
}

#contact #map {
  width: 80%;
  height: 70vw;
}

#contact #map h1 {
  font-family: 'Amiri', serif;
  text-transform: uppercase;
  font-size: 1rem;
}

#contact #map iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact-text {
  z-index: 1;
  width: 100%;
  height: auto;
  position: relative;
  top: 12px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1.2fr;
      grid-template-columns: 1fr 1.2fr;
  padding: 3vh 0;
  background: rgba(196, 196, 196, 0.2);
}

#contact-text h2 {
  font-family: 'Amiri', serif;
  margin-left: 9vw;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
}

#contact-text p {
  display: -ms-grid;
  display: grid;
}

#contact-text p a,
#contact-text p span {
  text-align: justify;
  font-family: 'Amiri', serif;
  text-decoration: none;
  color: black;
  font-size: 0.6rem;
  line-height: 1rem;
  letter-spacing: 1px;
}

#contact-text p .contact-title {
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 1vw;
}

/*mobile-contact-end*/
.splitter-line {
  width: 100%;
  height: 0.5px;
  background-color: black;
}

footer {
  position: relative;
  z-index: 30;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
}

footer #footer-top {
  z-index: 31;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1.3fr;
      grid-template-columns: 1fr 1.3fr;
  padding: 1vw 0 2px 0;
}

footer #footer-top div {
  text-align: center;
}

footer #footer-top div p,
footer #footer-top div a,
footer #footer-top div span {
  text-decoration: none;
  font-family: 'Amiri', serif;
  color: black;
  font-size: 0.6rem;
  line-height: 1rem;
}

footer #footer-top div p img,
footer #footer-top div a img,
footer #footer-top div span img {
  width: 0.8rem;
  margin-top: 10px;
}

footer #footer-bottom {
  z-index: 32;
  text-decoration: none;
  font-family: 'Amiri', serif;
  color: black;
  font-size: 0.6rem;
  line-height: 1rem;
}

@media only screen and (min-width: 450px) {
  footer {
    border-radius: 0;
    width: 100%;
  }
  footer #footer-top {
    width: 100%;
  }
}

/*tablet layout start*/
@media only screen and (min-width: 450px) {
  .right {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    position: relative;
    left: 20%;
  }
  /*tablet slide start*/
  .mobilePhoto {
    display: none;
  }
  .tablet-body {
    display: block;
  }
  .homepagePhoto {
    width: 100%;
  }
  .homepagePhoto .slideFrame {
    width: 100%;
    height: 45vw;
    position: relative;
    overflow: hidden;
  }
  .homepagePhoto .slideFrame .photo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-animation: slide 20s cubic-bezier(0, 0.5, 0.5, 0.97) infinite;
            animation: slide 20s cubic-bezier(0, 0.5, 0.5, 0.97) infinite;
  }
  .homepagePhoto .slideFrame .photo img {
    width: 100%;
  }
  .homepagePhoto .slideFrame .photo-one {
    z-index: 10;
  }
  .homepagePhoto .slideFrame .photo-two {
    z-index: 9;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .homepagePhoto .slideFrame .photo-three {
    z-index: 8;
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }
  .homepagePhoto .slideFrame .photo-four {
    z-index: 7;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
  }
  /*tablet slide end*/
  /*tablet-homemenu-start*/
  #homeMenu {
    width: 100%;
  }
  #homeMenu h1 {
    margin-left: 5vw;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px #383838;
    font-size: 1.5rem;
    color: #ffffff;
  }
  #homeMenu .menu-section {
    width: 95%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  #homeMenu .menu-section .foodCard {
    width: 10rem;
    height: 12rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    row-gap: 0;
    border-radius: 30px 0;
  }
  #homeMenu .menu-section .foodCard img {
    width: 100%;
    height: 100%;
    border-radius: 30px 0 0 0;
  }
  #homeMenu .menu-section .foodCard div {
    position: relative;
    width: 100%;
    height: 4rem;
  }
  #homeMenu .menu-section .foodCard div h2 {
    z-index: 10;
    height: 0.8rem;
    padding: 0 1vw;
    font-size: 0.8rem;
  }
  #homeMenu .menu-section .foodCard div h3 {
    z-index: 10;
    height: 0.7rem;
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
  #homeMenu .menu-section .foodCard:hover .description {
    top: 2rem;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  #homeMenu .menu-section .foodCard .description {
    z-index: 5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem 0.5rem 0 0.5rem;
    position: absolute;
    top: -2vw;
    font-size: 0.8rem;
    border-radius: 0 0 30px 0;
    background-color: #ffffff;
    opacity: 0;
    -webkit-box-shadow: 0 1px 2px 0 #383838;
            box-shadow: 0 1px 2px 0 #383838;
  }
  /*tablet-homemenu-end*/
  /*tablet-contact-start*/
  #contact {
    width: 100%;
  }
  #contact #map {
    width: 80%;
    height: 40vh;
  }
  #contact #map h1 {
    font-size: 1.5rem;
  }
  #contact #contact-text {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
  }
  #contact #contact-text h2 {
    padding-left: 2vw;
  }
  #contact #contact-text p a,
  #contact #contact-text p span {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

/*tablet-contact-end*/
/*desktop layout start*/
@media only screen and (min-width: 1367px) {
  html {
    font-size: 24px;
  }
}

/*desktop layout end*/
/*# sourceMappingURL=style.css.map */