@import './mixin';
@import './variable';
* {
    @include bodyDefault;
}

body {
    @include bodyDefault;
    background: linear-gradient(317.45deg, rgba(255, 160, 13, 0.52) -78.63%, #FFFFFF 106.21%);
    min-height: 100vh;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.splitter-blank {
    height: 5vh;
}

.tablet-body {
    display: none;
}

@import './header';

/*mobile-homepagePhoto-start*/

@keyframes mobilephoto {
    25% {
        left: -70vw;
    }
    50% {
        left: -140vw;
    }
    75% {
        left: -210vw;
    }
    100% {
        left: 0vw;
    }
}

.homepagePhoto {
    @include gridCenter;
    width: 100%;
    .mobilePhotoFrame {
        margin-top: 5vw;
        width: 70vw;
        height: 84vw;
        overflow: hidden;
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid white;
        .mobilePhoto {
            position: relative;
            height: 84vw;
            left: 0;
            animation: mobilephoto 8s cubic-bezier(1, 0, 0.1, 0) infinite;
        }
    }
}


/*mobile-homeMenu-start*/

#homeMenu {
    @include gridCenter;
    row-gap: 5vh;
    h1 {
        @include articleFont;
        text-transform: uppercase;
        font-size: 1.5rem;
        justify-self: left;
        margin-left: 15vw;
        margin-bottom: -5vh;
    }
    .menu-section {
        @include gridCenter;
        width: 80%;
        row-gap: 5vh;
        .foodCard {
            @include gridCenter;
            row-gap: 5vh;
            grid-template-columns: 1fr 1.2fr;
            background-color: $cardBgColor;
            height: 30vw;
            width: 100%;
            border-radius: 18px;
            @include pageShadow(2px);
            &:hover {
                cursor: pointer;
            }
            &:active {
                @include pageShadow(0px);
            }
            img {
                width: 28vw;
                height: 23vw;
                border-radius: 18px;
                object-fit: cover;
            }
            div {
                @include gridCenter;
                width: 40vw;
                height: 23vw;
                h2 {
                    @include articleFont;
                    font-size: 3.5vw;
                    text-transform: uppercase;
                    line-height: 12px;
                    justify-self: left;
                    margin: 0;
                }
                h3 {
                    @include articleFont;
                    font-size: 3.5vw;
                    text-transform: uppercase;
                    line-height: 15px;
                    justify-self: right;
                    margin: 0;
                    color: $priceColor;
                }
                p {
                    @include articleFont;
                    font-size: 3vw;
                }
            }
        }
    }
}


/*mobile-homeMenu-start*/


/*mobile-contact-start*/

#contact {
    z-index: 1;
    @include gridCenter;
    width: 100%;
    row-gap: 5vh;
    padding-top: 5vh;
    #map {
        width: 80%;
        height: 70vw;
        h1 {
            @include otherFont;
            text-transform: uppercase;
            font-size: 1rem;
        }
        iframe {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#contact-text {
    z-index: 1;
    position: relative;
    top: 12px;
    background: rgba(196, 196, 196, 0.2);
    padding: 3vh 0;
    width: 100%;
    height: auto;
    @include gridCenter;
    grid-template-columns: 1fr 1.2fr;
    h2 {
        @include otherFont;
        color: black;
        text-transform: uppercase;
        font-size: 4vw;
        margin-left: 9vw;
    }
    p {
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-self: left;
        a,
        span {
            text-align: justify;
            text-decoration: none;
            @include otherFont;
            color: black;
            font-size: 3vw;
            line-height: 5vw;
        }
        .contact-title {
            justify-self: right;
        }
    }
}


/*mobile-contact-end*/

@import './footer';
@media only screen and (min-width: 450px) {
    .mobilePhoto {
        display: none;
    }
    .tablet-body {
        display: block;
    }
    .right {
        @include gridCenter;
        position: relative;
        width: 70%;
        left: 30%;
        overflow: hidden;
    }
    .homepagePhoto {
        width: 100%;
        .tabletPhotoFrame {
            width: 100%;
            height: 50vw;
            overflow: hidden;
        }
    }
    /*tablet-homemenu-start*/
    #homeMenu {
        width: 100%;
        h1 {
            color: $cardBgColor;
            @include textShadow(2px);
            font-size: 2rem;
            margin-left: 5vw;
            margin-bottom: 0;
        }
        .menu-section {
            @include gridCenter;
            width: 95%;
            grid-template-columns: 1fr 1fr 1fr;
            .foodCard {
                width: 90%;
                height: 20vw;
                display: grid;
                align-items: start;
                grid-template-columns: 1fr;
                grid-template-rows: 3fr 1fr;
                row-gap: 0;
                border-radius: 30px 0;
                img {
                    width: 100%;
                    height: 14vw;
                    border-radius: 30px 0 0 0;
                }
                div {
                    position: relative;
                    width: 100%;
                    height: 4vw;
                    grid-template-rows: 1fr 1fr;
                    h2,
                    h3 {
                        z-index: 10;
                        padding: 0 1vw;
                        font-size: 1.5vw;
                    }
                }
                &:hover .description {
                    top: 2vw;
                    opacity: 1;
                    transition: all 0.3s ease-out;
                }
                .description {
                    z-index: 5;
                    box-sizing: border-box;
                    height: 10vw;
                    padding: 4vw 1vw;
                    position: absolute;
                    font-size: 1.5vw;
                    background-color: $cardBgColor;
                    width: 100%;
                    top: -2vw;
                    border-radius: 0 0 30px 0;
                    opacity: 0;
                    @include pageShadow(2px);
                }
            }
        }
    }
    /*tablet-homemenu-end*/
    /*tablet-contact-start*/
    #contact {
        width: 100%;
        #map {
            width: 80%;
            height: 40vh;
            h1 {
                font-size: 2rem;
            }
        }
        #contact-text {
            h2 {
                margin-left: 0;
                font-size: 2vw;
            }
            p {
                a,
                span {
                    font-size: 2vw;
                    line-height: 3vw;
                }
            }
        }
    }
}

@media only screen and (min-width: 1240px) {
    .right {
        width: 80%;
        left: 20%;
    }
    #homeMenu {
        .menu-section {
            width: 90%;
            grid-template-columns: 1fr 1fr 1fr;
            .foodCard {
                width: 70%;
                height: 14vw;
                grid-template-rows: 1.5fr 1fr;
                img {
                    height: 100%;
                }
                div {
                    margin-top: 1vw;
                    h2,
                    h3 {
                        font-size: $desktopMenuFontSize;
                    }
                    .description {
                        font-size: $desktopMenuFontSize;
                    }
                }
            }
        }
    }
    #contact-text {
        h2 {
            font-size: $desktopMenuFontSize;
        }
        p {
            a,
            span {
                font-size: $desktopMenuFontSize;
            }
        }
    }
}