@import './mixin';
@import './variable';
@import './animation';
* {
    @include bodyDefault;
}

body {
    @include bodyDefault;
    background: linear-gradient(317.45deg, rgba(255, 160, 13, 0.9) -78.63%, #FFFFFF 106.21%);
    min-height: 100vh;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.splitter-blank {
    height: 5vh;
}

.tablet-body {
    display: none;
}

@import './header';
#home {
    background-color: $primaryColor;
    color: $cardBgColor;
    .homeIcon {
        background-position-x: 100%;
    }
    &:hover {
        background-color: $cardBgColor;
        color: $primaryColor;
    }
    &:hover div {
        background-position-x: 0%;
    }
}


/*mobile-homepagePhoto-start*/

.homepagePhoto {
    @include gridCenter;
    width: 100%;
    .mobilePhotoFrame {
        margin-top: 5vw;
        width: 70vw;
        height: 84vw;
        overflow: hidden;
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid white;
        img {
            position: relative;
            height: 84vw;
            left: 0;
            animation: mobilephoto 8s cubic-bezier(1, 0, 0.1, 0) infinite;
        }
    }
}


/*mobile-homeMenu-start*/

#homeMenu {
    @include gridCenter;
    row-gap: 5vh;
    h1 {
        @include articleFont;
        justify-self: left;
        margin-left: 15vw;
        margin-bottom: -5vh;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    .menu-section {
        width: 80%;
        @include gridCenter;
        row-gap: 5vh;
        .foodCard {
            height: 30vw;
            width: 100%;
            @include gridCenter;
            grid-template-columns: 1fr 1.2fr;
            row-gap: 5vh;
            background-color: $cardBgColor;
            border-radius: 18px;
            @include pageShadow(2px);
            &:hover {
                cursor: pointer;
            }
            &:active {
                @include pageShadow(0px);
            }
            img {
                width: 28vw;
                height: 23vw;
                border-radius: 18px;
                object-fit: cover;
            }
            div {
                width: 40vw;
                height: 23vw;
                @include gridCenter;
                h2 {
                    justify-self: left;
                    margin: 0;
                    @include articleFont;
                    font-size: 1rem;
                    text-transform: uppercase;
                    line-height: 12px;
                }
                h3 {
                    justify-self: right;
                    margin: 0 1.3rem;
                    overflow: hidden;
                    @include articleFont;
                    font-size: 0.6rem;
                    text-transform: uppercase;
                    line-height: 0.6rem;
                    color: $priceColor;
                }
                p {
                    @include articleFont;
                    margin-top: 2px;
                    font-size: 0.7rem;
                }
            }
        }
    }
}


/*mobile-homeMenu-end*/


/*mobile-contact-start*/

#contact {
    z-index: 1;
    width: 100%;
    @include gridCenter;
    padding-top: 5vh;
    row-gap: 5vh;
    #map {
        width: 80%;
        height: 70vw;
        h1 {
            @include otherFont;
            text-transform: uppercase;
            font-size: 1rem;
        }
        iframe {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
    }
}

#contact-text {
    z-index: 1;
    width: 100%;
    height: auto;
    position: relative;
    top: 12px;
    @include gridCenter;
    grid-template-columns: 1fr 1.2fr;
    padding: 3vh 0;
    background: rgba(196, 196, 196, 0.2);
    h2 {
        @include otherFont;
        margin-left: 9vw;
        color: black;
        text-transform: uppercase;
        font-size: 1rem;
    }
    p {
        display: grid;
        a,
        span {
            text-align: justify;
            @include otherFont;
            text-decoration: none;
            color: black;
            font-size: 0.6rem;
            line-height: 1rem;
            letter-spacing: 1px;
        }
        .contact-title {
            justify-self: right;
            margin-right: 1vw;
        }
    }
}


/*mobile-contact-end*/

@import './footer';

/*tablet layout start*/

@media only screen and (min-width: 600px) {
    .right {
        width: 80%;
        @include gridCenter;
        position: relative;
        left: 20%;
    }
    /*tablet slide start*/
    .mobilePhoto {
        display: none;
    }
    .tablet-body {
        display: block;
    }
    .homepagePhoto {
        width: 100%;
        .slideFrame {
            width: 100%;
            height: 45vw;
            position: relative;
            overflow: hidden;
            .photo {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(100%);
                img {
                    width: 100%;
                }
                animation: slide 20s cubic-bezier(0, 0.5, 0.5, 0.97) infinite;
                &-one {
                    z-index: 10;
                }
                &-two {
                    z-index: 9;
                    animation-delay: 5s;
                }
                &-three {
                    z-index: 8;
                    animation-delay: 10s;
                }
                &-four {
                    z-index: 7;
                    animation-delay: 15s;
                }
            }
        }
    }
    /*tablet slide end*/
    /*tablet-homemenu-start*/
    #homeMenu {
        width: 100%;
        h1 {
            margin-left: 5vw;
            margin-bottom: 0;
            @include textShadow(2px);
            font-size: 1.5rem;
            color: $cardBgColor;
        }
        .menu-section {
            width: 95%;
            @include gridCenter;
            grid-template-columns: 1fr 1fr 1fr;
            .foodCard {
                width: 10rem;
                height: 12rem;
                align-items: start;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 1fr;
                row-gap: 0;
                border-radius: 30px 0;
                @include pageShadow(2px);
                img {
                    width: 100%;
                    height: 8rem;
                    overflow: hidden;
                    border-radius: 30px 0 0 0;
                }
                div {
                    box-sizing: border-box;
                    width: 100%;
                    height: 4rem;
                    overflow: hidden;
                    position: relative;
                    @include gridCenter;
                    padding: 0.5rem;
                    background-color: $cardBgColor;
                    border-radius: 0 0 30px 0;
                    @include pageShadow(2px);
                    h2 {
                        z-index: 10;
                        height: 1.2rem;
                        font-size: 0.8rem
                    }
                    h3 {
                        z-index: 10;
                        height: 3rem;
                        font-size: 0.7rem;
                        line-height: 0.7rem;
                    }
                    .description {
                        z-index: 5;
                        box-sizing: border-box;
                        width: 100%;
                        height: 4rem;
                        font-size: 0.8rem;
                        border-radius: 0 0 30px 0;
                        opacity: 1;
                    }
                }
                &:hover div {
                    height: 8rem;
                    transition: all 0.3s ease-out;
                }
            }
        }
    }
    /*tablet-homemenu-end*/
    /*tablet-contact-start*/
    #contact {
        width: 100%;
        row-gap: 5vw;
        #map {
            width: 80%;
            height: fit-content;
            h1 {
                font-size: 1.5rem;
            }
            #map-map {
                height: 30vw;
                border-radius: 30px 0;
            }
        }
        #contact-text {
            grid-template-columns: 1fr 1.5fr;
            h2 {
                padding-left: 2vw;
            }
            p {
                a,
                span {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }
}


/*tablet-contact-end*/


/*desktop layout start*/

@media only screen and (min-width: 1367px) {
    html {
        font-size: 24px;
    }
}


/*desktop layout end*/